<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ajie.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.ajie.model.domain.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="categoryId" column="categoryId" jdbcType="BIGINT"/>
            <result property="thumbnail" column="thumbnail" jdbcType="VARCHAR"/>
            <result property="isTop" column="isTop" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="viewCount" column="viewCount" jdbcType="BIGINT"/>
            <result property="isComment" column="isComment" jdbcType="CHAR"/>
            <result property="createBy" column="createBy" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="updateBy" jdbcType="BIGINT"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="delFlag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        summary,categoryId,thumbnail,
        isTop,status,viewCount,
        isComment,createBy,createTime,
        updateBy,updateTime,delFlag
    </sql>
</mapper>
